
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.grade-distribution {
    margin-top: 20px;
    background: #e9e9e9;
    padding: 10px;
    border-radius: 8px;
}

.grade-distribution ul {
    list-style: none;
    padding: 0;
    display: flex; /* Align list items horizontally */
    align-items: flex-end; /* Align bars to the bottom */
    height: 500px; /* Height for the histogram */
    max-width: 600px; /* Maximum width for the histogram */
    margin: auto; /* Center the histogram */
    justify-content: space-around;
}

.grade-distribution ul li {
    background: #4CAF50; /* Green background for bars */
    border-radius: 5px;
    margin-right: 20px; /* Space between bars */
    width: 100px; /* Width for each bar */
    min-height: 10px; /* Minimum height for visibility */
}


.grade-distribution ul li .bar {
    background: #4CAF50; /* Green background for bars */
    border-radius: 5px;
    width: 40px; /* Width for each bar */
    height: 0; /* Initial height, will be set dynamically */
    transition: height;
}

/* Text under each bar */
.grade-distribution ul li span {
    text-align: left; /* Center the text */
    
}




.bar {
    border-radius: 5px;
}

/* Ensure the bar width is not set to a fixed percentage initially */
.bar-V3, .bar-V4, .bar-V5, .bar-V6, .bar-V7 {
    width: auto; /* Width will be set by JavaScript */
    height: auto; /* Height will be set by JavaScript */
}